.content {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr; /* First column is 20% of the available space, second column is 80% of the available space */
    height: 80vh;
}

h2  { /* Descendant Selector */
    text-align: center;
    margin: 15px;
}

.leftSide {
    background-color: aqua;
}

.rightSide {
    background-color: rgba(255, 255, 255, 0.3);
}

h2 {
    text-decoration-line: underline;
}

.rightSide > h2 { /* Direct Child Selector */
    margin-left: 15px;
}

.interactionButtons {
    padding: 5px;
    border-radius: 10px;
    display: block;
    margin: 5px auto 5px auto;
}
