.content {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr; /* First column is 20% of the available space, second column is 80% of the available space */
    height: 80vh;
}

.leftSide h2  { /* Descendant Selector */
    text-align: center;
}

.leftSide {
    background-color: aqua;
}

h2 {
    text-decoration-line: underline;
}

.interactionButtons {
    padding: 5px;
    border-radius: 10px;
    display: block;
    margin: 5px auto 5px auto;
}

header, footer {
    height: 10vh;
}

footer {
    text-align: center;
}