.twoSectionContentArea {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
}

.projectListSide, .toDoListSide {
    text-align: center;;
}

.projectListSide {
    background-color: rgb(21,252,38)
}

.projectItem {
    text-align: left;
}