* { /* Universal Selector: Reset */
    margin: 0;
    padding: 0;
}

header h1, footer { /* Direct Child selector */
    text-align: center;
}

header h1 {
    /* Removes the link styles from the header title */
    text-decoration: none;
    text-decoration-line: none;
    color: white;

}

header, footer {
    height: 10%;
    background-color: rgba(77,121,255,1);
    padding: 10px;
}